div#payment {
    display: none !important;
}

div#text_block-5-479 {
    display: none !important;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle {
    display: none !important;
}

#order_review_heading {
    display: none;
}
